<p>
<strong>Styling Options:</strong>
   {{input type="checkbox" id="hide-when-no-suggestions" checked=hideWhenNoSuggestions}}
  <label>Hide Dropdown When No Suggestions</label>
</p>

Code: <h2>{{model.code}}</h2>

<br />

{{#my-auto-complete
   options=codes
   selectedValue=model.code
   placeHolderText="Find a thing"
   inputClass="my-fun-input-thing andTwo"
   noMesssagePlaceHolderText=noMessagePlaceholder
   hideWhenNoSuggestions=hideWhenNoSuggestions
   selectItem="itemSelected" as |result|}}
  <p><b>{{result.code}}</b>{{result.text}}</p>
{{/my-auto-complete}}
<p class="selection">{{selection}}</p>
